.black, .text-color {
  color: #333;
}

.bc-info {
  color: #3a64af;
}

.bc-warning, .yellow {
  color: #E4650A;
}

.bc-danger, .red {
  color: #D03333;
}

.bc-success, .green {
  color: #279E74;
}

.bc-primary {
  color: #288392;
}

.bg-success {
  background-color: #E9F6F1;
}

.bg-info {
  background-color: #EBF0F7;
}

.bg-warning {
  background-color: #FDF0E7;
}

.bg-danger {
  background-color: #FBEBEB;
}

.bg-active {
  background-color: #F4FAFC;
}

html {
  font-size: 100%;
}

body {
  font-family: "Effra", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #333;
  min-width: 320px;
  position: relative;
  font-size: 1.1em;
  line-height: 1.42;
  background: #f9f9f9;
}
@media (min-width: 43.75em) {
  body {
    line-height: 1.45;
  }
}

h1, .h1 {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 2em;
  line-height: 1.25;
}
@media (min-width: 43.75em) {
  h1, .h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  h1, .h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2, .h2 {
  font-weight: 300;
  font-size: 1.625em;
  line-height: 1.15384615;
}
@media (min-width: 43.75em) {
  h2, .h2 {
    font-size: 2em;
  }
}
@media (min-width: 56.25em) {
  h2, .h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3, .h3 {
  font-weight: 300;
  font-size: 1.375em;
  line-height: 1.14;
}
@media (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h3, .h3 {
    font-size: 1.75em;
  }
}

h4, .h4 {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.11;
}
@media (min-width: 43.75em) {
  h4, .h4 {
    line-height: 1.22;
  }
}

h5, .h5 {
  font-weight: 500;
  font-size: 1.05em;
  line-height: 1.05;
}

h6, .h6 {
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
}

strong, b, th {
  font-weight: 500;
}

label {
  font-weight: 500;
}

a {
  cursor: pointer;
}

ul {
  padding-left: 2em;
}

code {
  background: #F3F3F6;
  color: #5A6A80;
  font-size: 85%;
  margin: 0 .25em;
  padding: 1px 3px;
  text-shadow: 0 1px #fff;
}
@media screen and (min-width: 36em) {
  code {
    padding: 2px 4px;
  }
}

kbd {
  -webkit-transition: background-color 90ms ease-in-out;
  -moz-transition: background-color 90ms ease-in-out;
  -ms-transition: background-color 90ms ease-in-out;
  -o-transition: background-color 90ms ease-in-out;
  background-color: #f7f7f7;
  box-shadow: inset 0px 1px 1px #fff, inset 0px -1px 0px 0px #b2b2b2, 0px 1px 0px rgba(178, 178, 178, 0.21);
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  color: #333;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", "Menlo", "Lucida Sans Typewriter", Courier, monospace;
  font-size: 0.8em;
  margin: 0 .35em 0.2em;
  padding: 0 .35em 0 .3em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 0 #fff;
}
kbd:active {
  background-color: #eee;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
p + p {
  margin-top: 1em;
  margin-bottom: 0;
}

cite {
  font-size: .9em;
  margin-left: .35em;
}

.comma-list:first-child::before, .comma-list:empty::before {
  content: '';
}
.comma-list::before {
  content: ", ";
}

.heading--underline {
  border-bottom: 1px solid #ddd;
  padding-bottom: .25em;
}

.lt-ie10 .heading--link, .lt-ie10 .heading--primary-link {
  text-decoration: underline;
}

.heading--link:hover, .heading--link:focus {
  color: #333;
  background-image: -webkit-linear-gradient(bottom, transparent 6%, rgba(0, 0, 0, 0.6) 6%, rgba(0, 0, 0, 0.6) 10%, transparent 10%);
  background-image: linear-gradient(to top, transparent 6%, rgba(0, 0, 0, 0.6) 6%, rgba(0, 0, 0, 0.6) 10%, transparent 10%);
  text-decoration: none;
}

.heading--primary-link:hover, .heading--primary-link:focus {
  background-image: -webkit-linear-gradient(bottom, transparent 6%, rgba(0, 0, 0, 0.6) 6%, rgba(0, 0, 0, 0.6) 10%, transparent 10%);
  background-image: linear-gradient(to top, transparent 6%, rgba(0, 0, 0, 0.6) 6%, rgba(0, 0, 0, 0.6) 10%, transparent 10%);
  text-decoration: none;
}

.heading__summary {
  font-size: 1.1em;
  display: block;
  margin: .2em 0;
}
@media screen and (min-width: 36em) {
  .heading__summary {
    display: inline-block;
    margin: 0;
  }
}
@media screen and (min-width: 64em) {
  .heading__summary {
    font-size: 1.25em;
  }
}
.heading__summary:after {
  content: none;
  width: 5px;
  background-color: #b2b2b2;
  height: 100%;
  display: inline-block;
  text-align: center;
  height: 5px;
  border-radius: 7px;
  margin: 0 0.8em 3px 0.8em;
}
@media screen and (min-width: 36em) {
  .heading__summary:after {
    content: '';
  }
}
.heading__summary:last-child:after {
  content: none;
}

.heading--label {
  font-size: .85em;
  font-weight: 400;
  color: #787878;
  line-height: 1.2;
  display: block;
  margin-top: 0.5em;
}

.heading--callout {
  background: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  padding: 12px 16px;
  padding: .75rem 1rem;
}

.heading--bordered {
  background: #f9f9f9;
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  border: solid #ccc;
  border-radius: 4px;
  border-width: 1px 1px 1px 0;
  color: #333;
  padding: .1em 1em;
  position: relative;
}
.heading--bordered::after {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 4px;
  background: #288392;
  background: linear-gradient(to right, #33a7ba, #288392);
  bottom: -1px;
}

.heading__inner-link {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.6em 0 0.7em 0;
}
@media screen and (min-width: 32em) {
  .heading__inner-link {
    display: inline;
    margin: 0 0 0 .5rem;
  }
}

.link--subtle {
  color: #787878;
  font-size: 87%;
}

hr {
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background-color: #b2b2b2;
  position: relative;
}
hr.divider--light {
  background-color: #ddd;
}
hr.divider--dark {
  background-color: #b2b2b2;
}

.text-divider__container {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 1.6em 0;
}
@media screen and (min-width: 48em) {
  .text-divider__container {
    margin-left: -2.5%;
    margin-right: -2.5%;
    width: 105%;
  }
}
.text-divider__container:before {
  content: '';
  background: #b2b2b2;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 0;
}

.text-divider__content {
  background-color: #fff;
  padding: 0 1em;
  position: relative;
}

.panel-heading.panel-heading--sm {
  font-size: 0.9em;
  padding: 0.5em 1em;
}

.well {
  background-image: none;
  background-color: #f9f9f9;
  overflow-x: hidden;
  padding: .8em;
}
@media screen and (min-width: 36em) {
  .well {
    padding: 19px;
  }
}

.well .well__callout-heading {
  background: #eee;
  border: 1px solid #ccc;
  border-width: 1px 0;
  padding: 0.3em 1.2em;
  margin: .2em -1.2em 1em;
}
.well .well__callout-heading i {
  color: #787878;
}

.well--inverse {
  background: #fff;
  border: 1px solid #ddd;
}

.table {
  -webkit-box-shadow: 0 1px 7px #e6e6e6;
  -moz-box-shadow: 0 1px 7px #e6e6e6;
  box-shadow: 0 1px 7px #e6e6e6;
  border: 1px solid #ddd;
}
.table th {
  background: #f9f9f9;
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  border: 0 !important;
}
.table thead + tbody > tr:first-child > td {
  border-top: 1px solid #b2b2b2;
}

.table--rounded {
  border-spacing: 0;
  border-radius: 6px;
  border-collapse: separate;
}
.table--rounded thead > tr:first-child > :first-child, .table--rounded tbody:first-child > tr:first-child > :first-child, .table--rounded caption + tbody > tr:first-child > :first-child {
  border-top-left-radius: 6px;
}
.table--rounded thead > tr:first-child > :last-child, .table--rounded tbody:first-child > tr:first-child > :last-child, .table--rounded caption + tbody > tr:first-child > :last-child {
  border-top-right-radius: 6px;
}
.table--rounded tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 6px;
}
.table--rounded tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 6px;
}

.nav {
  padding: 0.7em 1.2em 0.5em;
  box-shadow: 1px 1px 3px #eee;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.nav__header {
  font-weight: 300;
  font-size: 1.1em;
  margin: 0;
  line-height: 1.4;
  display: inline-block;
  vertical-align: middle;
}

.nav__logo {
  width: 100%;
  height: auto;
  max-width: 8em;
  display: inline-block;
  vertical-align: top;
}

.nav__link {
  height: 1em;
  display: inline-block;
}
.nav__link:hover, .nav__link:active, .nav__link:focus {
  text-decoration: none;
}

.module {
  float: left;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.module:nth-child(3n+3) {
  margin-right: 0;
}

.module__block {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #ddd;
  border-radius: 6px;
  display: block;
  transition: background 90ms ease-in-out 30ms;
  padding: 1em;
}
.module__block:hover, .module__block:focus, .module__block:active {
  text-decoration: none;
  background: #f7f7f7;
}

.module__header {
  margin-top: 0;
}

.module__description {
  color: #333;
}
.module__description:hover, .module__description:active, .module__description:focus {
  color: #333;
}

.entry__content {
  max-width: 48em;
  margin: 0 auto;
}
.entry__content .table {
  margin: 3em 2em;
  font-size: 0.9em;
}

footer {
  font-size: .8em;
  padding: .5em 1em;
  background: #fff;
  border-top: 1px solid #ddd;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.site__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

[role="main"] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.m1 {
  margin: 4px !important;
}

.mt1 {
  margin-top: 4px !important;
}

.mr1 {
  margin-right: 4px !important;
}

.mb1 {
  margin-bottom: 4px !important;
}

.ml1 {
  margin-left: 4px !important;
}

.m2 {
  margin: 8px !important;
}

.mt2 {
  margin-top: 8px !important;
}

.mr2 {
  margin-right: 8px !important;
}

.mb2 {
  margin-bottom: 8px !important;
}

.ml2 {
  margin-left: 8px !important;
}

.m3 {
  margin: 16px !important;
}

.mt3 {
  margin-top: 16px !important;
}

.mr3 {
  margin-right: 16px !important;
}

.mb3 {
  margin-bottom: 16px !important;
}

.ml3 {
  margin-left: 16px !important;
}

.m4 {
  margin: 32px !important;
}

.mt4 {
  margin-top: 32px !important;
}

.mr4 {
  margin-right: 32px !important;
}

.mb4 {
  margin-bottom: 32px !important;
}

.ml4 {
  margin-left: 32px !important;
}

.m5 {
  margin: 56px !important;
}

.mt5 {
  margin-top: 56px !important;
}

.mr5 {
  margin-right: 56px !important;
}

.mb5 {
  margin-bottom: 56px !important;
}

.ml5 {
  margin-left: 56px !important;
}

.mxn1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.mxn2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mxn3 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mxn4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mxn5 {
  margin-left: 56px !important;
  margin-right: 56px !important;
}

.m1 {
  margin: 0.25rem !important;
}

.mt1 {
  margin-top: 0.25rem !important;
}

.mr1 {
  margin-right: 0.25rem !important;
}

.mb1 {
  margin-bottom: 0.25rem !important;
}

.ml1 {
  margin-left: 0.25rem !important;
}

.m2 {
  margin: 0.5rem !important;
}

.mt2 {
  margin-top: 0.5rem !important;
}

.mr2 {
  margin-right: 0.5rem !important;
}

.mb2 {
  margin-bottom: 0.5rem !important;
}

.ml2 {
  margin-left: 0.5rem !important;
}

.m3 {
  margin: 1rem !important;
}

.mt3 {
  margin-top: 1rem !important;
}

.mr3 {
  margin-right: 1rem !important;
}

.mb3 {
  margin-bottom: 1rem !important;
}

.ml3 {
  margin-left: 1rem !important;
}

.m4 {
  margin: 2rem !important;
}

.mt4 {
  margin-top: 2rem !important;
}

.mr4 {
  margin-right: 2rem !important;
}

.mb4 {
  margin-bottom: 2rem !important;
}

.ml4 {
  margin-left: 2rem !important;
}

.m5 {
  margin: 3.5rem !important;
}

.mt5 {
  margin-top: 3.5rem !important;
}

.mr5 {
  margin-right: 3.5rem !important;
}

.mb5 {
  margin-bottom: 3.5rem !important;
}

.ml5 {
  margin-left: 3.5rem !important;
}

.mxn1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.mxn2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mxn3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mxn4 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.mxn5 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.p0 {
  padding: 0 !important;
}

.p1 {
  padding: 4px !important;
}

.py1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.px1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.p2 {
  padding: 8px !important;
}

.py2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.px2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p3 {
  padding: 16px !important;
}

.py3 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.px3 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.p4 {
  padding: 32px !important;
}

.py4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.px4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.p5 {
  padding: 56px !important;
}

.py5 {
  padding-top: 56px !important;
  padding-bottom: 56px !important;
}

.px5 {
  padding-left: 56px !important;
  padding-right: 56px !important;
}

.p1 {
  padding: 0.25rem !important;
}

.py1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.p2 {
  padding: 0.5rem !important;
}

.py2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.px2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p3 {
  padding: 1rem !important;
}

.py3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p4 {
  padding: 2rem !important;
}

.py4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.px4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.p5 {
  padding: 3.5rem !important;
}

.py5 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.px5 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.fw1 {
  font-weight: 300 !important;
}

.fw2 {
  font-weight: 400 !important;
}

.fw3 {
  font-weight: 500 !important;
}

.fw4 {
  font-weight: 700 !important;
}

/*# sourceMappingURL=style.css.map */
