{% extends "_layout" %}

{% block content %}
    <h1>{{ category }}</h1>

    <div class="panel panel-default mt4">
        <div class="panel-heading">
            <h3 class="panel-title">Articles</h3>
        </div>

        <ul class="list-group">
            {% for entry in craft.entries.section('supportArticles').relatedTo(category) %}
                <li class="list-group-item">
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}