{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />

    <script src="//use.typekit.net/awc5jqt.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />

</head>
<body>
    <div id="container" class="site__container">
        <header id="header" class="nav">
            <h2 class="nav__header">
                <a href="{{ siteUrl }}" class="nav__link">
                    <img class="nav__logo" alt="{{ siteName }}" src="static/images/BriteCoreLogo.png" />
                    <span class="ml1">support</span>
                </a>
            </h2>
        </header>

        <main id="content" role="main" class="container">
            {% block content %}
            {% endblock %}
        </main>

        <footer id="footer">
            &copy; {{ now.year }} Intuitive Web Solutions. All rights reserved
        </footer>
    </div>
</body>
</html>
